body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fafafa;
}

* {
	font-family: 'Open Sans', sans-serif;
}

*:focus {
	outline: none;
}

button {
	cursor: pointer;
}

span.select__indicator-separator {
	display: none;
}

.select__control {
	box-shadow: none !important;
	border: 1px solid #9dc7a9 !important;
	border-radius: 4px !important;
	background: #fafafa !important;
	zoom: 0.8;
}
